@model ToolViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ツール</h2>

<div class="container">
    <form asp-controller="Tool" asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="Value"></label>
            <textarea class="form-control" asp-for="Value"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="ConvertType"></label>
            <select asp-for="ConvertType" asp-items="Html.GetEnumSelectList(typeof (ConvertType))"></select>
        </div>
        <div class="form-group">
            <label asp-for="Result"></label>
            <textarea class="form-control" asp-for="Result"></textarea>
        </div>
        <button>変換</button>
    </form>
</div>
